<!Doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src=''></script>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<form method="POST" action= "/sign-in">
			<label for="username">Username</label>
			<input type="text" name="username">
			<label for="password">Password</label>
			<input type="password" name="password">
			<input type="submit">
		</form>
		<a href="/sign_up">Sign up now!</a>
		<form method="POST" action="/log-out">
			<input type="submit">
		</form>

		<% if flash[:notice] %>
		 <div class="flash notice">
		 <%=flash[:notice] %>
		 </div>
		 <% end %>
		 <% if flash[:alert] %>
		 <div class="flash alert">
		 <%=flash[:alert] %>
		 </div>
 		<% end %>

 		<form method="POST" action="/submit-post">
 			<label for="post">New Post</label>
 			<textarea name="[post]content" maxlength="150"></textarea>
 			<input type="submit">
 		</form>

 		<div>
	 		<% @pastPost.each do |post| %>
	 		<a href="/user/<%= post.user.name %>"><%=post.user.name%></a>
	 		<p><%=post.datetime.strftime("%c") %></p>
	 		<p><%= post.content %></p>
	 		<% end %>
		</div>
		<%= session[:user_id]%>
	</body>
</html>